.content_info{
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
    margin-top: 160px;
    padding-bottom: 180px;
}
.info_row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.info_label{
    font-size: 55px;
    color: #fff;
    max-width: 500px;
    font-family: RalewayExtraBold;
    text-transform: uppercase;
    line-height: 70px;
}
.info_text{
    font-size: 18px;
    font-family: RalewayRegular;
    max-width: 580px;
    line-height: 35px;
    margin-top: 10px;
    color: #e0fbf7;
}
.info_button_row{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
.info_button_row button{
    width: 150px;
    height: 55px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 35px;
    font-size: 15px;
    font-family: RalewayBold;
    background-color: #061e37;
    color: #fff;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
.info_button_row button:last-child{
    margin-left: 30px;
    color: #061e37;
    background-color: #fff;
}

.info_button_row button:nth-child(1):active{
    background-color: #fff;
    color: #061e37;
    transform: scale(1.1);
    transition: 0.3s;
}
.info_button_row button:nth-child(2):active{
    background-color: #061e37;
    color: #fff;
    transform: scale(1.1);
    transition: 0.3s;
}
.video video{
    max-width: 600px;
    max-height: 100%;
    border-radius: 5px;
    border: 2px solid #061e37;
    box-shadow: 13px 13px 25px 4px rgba(34, 60, 80, 0.3);
}
@font-face {
    font-family: RalewayExtraBold;
    src: url(../text/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: RalewayBold;
    src: url(../text/Raleway-Bold.ttf);
}

@media screen and (max-width: 1200px) {
    .info_row{
        flex-direction: column;
        margin: 0px 30px 0px 30px;
        min-width: 320px;
    }
    .info_label{
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
        font-size: 45px;
    }
    .info_text{
        margin: 0 auto;
        max-width: 500px;
        text-align: justify;
    }
    .info_button_row{
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }
    .info_button_row button{
        margin-bottom: 30px;
    }
    .video{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .video video{
        width: 100%;
    }
}
@media screen and (max-width: 396px) {
    .info_button_row button:last-child{
        margin: 30px 0px 30px 0px;
    }
    .info_button_row button{
        margin-bottom: 0px;
    }
    .info_button_row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}